h1 {
    font-size: 1cm;
}

h2 {
    font-size: 2cm;
}

p {
    font-size: 100%;
}

div {
    width: 50%;
}

div > div {
    width: 70%;
    background: #8bff28;
}

.vh {
    width: 50vh;
}

.vw {
    height: 10vw;
}

.vmin {
    height: 10vw;
    background: purple;
}

.span {
    width: calc(100% - 20px);
}

h3 {
 font-family: 'Mansalva', cursive;
}

h4 {
 font-family: 'Turret Road', cursive;

 font-style: italic;
}

h5 {
 font-family: 'Lobster', cursive;
 color: orange;
}

a {
    color: currentColor;
}

h6 {

    text-shadow: 18px 18px #8bff28, 16px 13px #8bff28, 12px 11px #8bff28, 18px 18px #8bff28;
    font-size: xx-large;
    user-select: none;
}

columns {
 columns: 200px auto;
 columns: 3 12em;
}
h7{
 font-size:xx-large;
 text-shadow: 15px 14px 7px rgba(0,0,0,0.6);
}